<h1>Show Request</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @request.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @request.content %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @request.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.request_path(@conn, :edit, @request) %></span>
<span><%= link "Back", to: Routes.request_path(@conn, :index) %></span>
