.polygon {
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    height: 300px;
    background-color: #f5f5f5;
    margin: 0 12.3%;
  }


  @media screen and (max-width: 768px) {
    .polygon {
        margin: 0 8%;
        height: 200px;
      }
  }


.parent{
    position: relative;
}

.home .folder{
    position: relative;
    height: 250px;
    //opacity: 0;
}

.home .folder::after{
    content: '';
    clear: both;
    display: table;
}
  
.home .folder .folder-front{
    position: absolute;
    width: 394px;
    bottom: 2px;
    right: -74px;
    left: 0;
    margin: auto;
    z-index: 11;
}

.home .folder .folder-back{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}

.home #globe{
    position: relative;
    z-index: 10;
    width: 400px;
    margin-top: 20px;
}

.folder.opacityTransition{
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 1 !important;
}

@media screen and (max-width:500px){
    
}

@media screen and (max-width:470px){
    
    .home .folder .folder-front{
        width: 315px;
        right: -60px;
    }

    
    .home .folder{
        height: 200px;
    }
}

@media screen and (max-width:430px){
    
    .home .folder .folder-front{
        width: 270px;
        right: -60px;
    }
    
    .home .folder{
        height: 160px;
    }
}

@media screen and (max-width:340px){
    
    .home .folder .folder-front{
        width: 220px;
        right: -60px;
    }
    
    .home .folder{
        height: 130px;
    }
}


///


