<div class="follow-page">

    <header class="title">
        <h1>Follow <span>Archived.Earth</span></h1>
    </header>

    <div class="field">
        <input class="input is-rounded" type="text" placeholder="Enter your email address">
    </div>

    <div class="btn">
        <a class="button is-rounded">Submit</a>
    </div>
</div>