<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Archive · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
    <%= render "mobile.navbar.html", assigns %>      
    </header>

    <section>
       <div class="columns">
        <%= render "navbar.html", assigns %>
        <div class="column">
         <%= render @view_module, @view_template, assigns %>
         </div>
       </div>
    </section>
    
    <%= render "scripts.html", assigns %>
  </body>
</html>
